CompileFlags:
  CompilationDatabase: build/
  Add:
    - "-Wall"
    - "-Wextra"
    - "-Wformat"
    - "-Wformat=2"
    - "-Wconversion"
    - "-Wimplicit-fallthrough"
    - "-Werror=format-security"
    - "-U_FORTIFY_SOURCE"
    - "-D_FORTIFY_SOURCE=3"
    - "-fstrict-flex-arrays=3"
    - "-fstack-clash-protection"
    - "-fstack-protector-strong"
    - "-Ithirdparty/libcorrect/include/"
    - "-I/usr/include/GraphicsMagick"
    - "-Lthirdparty/libcorrect/lib/"

---
If:
  PathMatch: .*\.c$
CompileFlags:
  Add:
    - "-xc"
    - "-std=c23"

---
If:
  PathMatch: .*\.(cpp|cc|cxx)$
CompileFlags:
  Add:
    - "-xc++"
    - "-std=c++23"

Diagnostics:
  UnusedIncludes: Strict
