CompileFlags:
  CompilationDatabase: build/
  Add:
    - "-xc"
    - "-std=c23"
    - "-Wall"
    - "-Wextra"
    - "-Wpedantic"
    - "-Wconversion"
    - "-I"
    - "thirdparty/"

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
