CompileFlags:
  CompilationDatabase: build/
  Add:
    - "-Wall"
    - "-Wextra"
    - "-Wformat"
    - "-Wformat=2"
    - "-Wconversion"
    - "-Wimplicit-fallthrough"
    - "-Werror=format-security"
    - "-U_FORTIFY_SOURCE"
    - "-D_FORTIFY_SOURCE=3"
    - "-fstrict-flex-arrays=3"
    - "-fstack-clash-protection"
    - "-fstack-protector-strong"

Diagnostics:
  UnusedIncludes: Strict